openapi: 3.0.0
info:
  title: Berget AI API
  version: 5.0.9
  description: >-
    Official API for the Berget AI platform - Access our powerful AI models
    through a simple chat API, manage your API keys, track usage, and handle
    team members and billing. Berget AI is an EU-based AI service providing APIs
    for serving open source models.


    ## Getting Started


    The easiest way to get started is to use our CLI tool:


    1. Login or create an account: `npx berget auth login`

    2. Create an API key: `npx berget api-keys create --name my-first-key`


    You can then use this API key to authenticate your API requests.
  contact:
    name: Berget AI Support
    url: https://berget.ai/support
    email: support@berget.ai
  license:
    name: Proprietary
    url: https://berget.ai/terms
servers:
  - url: https://api.berget.ai
    description: Production API
  - url: https://api.staging.berget.ai
    description: Staging API
tags:
  - name: Auth
    description: Authentication endpoints for login, registration, and token management
  - name: Users
    description: User management endpoints for team members and profiles
  - name: Models
    description: AI model endpoints for listing and using available models
  - name: API Keys
    description: API key management for programmatic access
  - name: Chat
    description: Chat completion endpoints for AI interactions
  - name: Embeddings
    description: Create vector embeddings from text for semantic search and
      similarity comparisons
  - name: Rerank
    description: Rerank documents based on their relevance to a specific query
  - name: Audio
    description: Audio processing endpoints including transcription services
  - name: Clusters
    description: Kubernetes cluster management and monitoring
  - name: Usage
    description: Usage statistics and billing information
  - name: Health
    description: API health status and monitoring endpoints
  - name: OCR
    description: Document processing and OCR capabilities
x-tagGroups:
  - name: Authentication & User Management
    tags:
      - Auth
      - Users
  - name: Core product
    tags:
      - Chat
      - Models
      - API Keys
      - OCR
      - Embeddings
      - Rerank
      - Audio
  - name: Compute and Storage
    tags:
      - Clusters
      - Health
  - name: Usage and Billing
    tags:
      - Usage
      - Billing
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Enter your JWT token as: Bearer <token>"
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: An error occurred while processing the request
        code:
          type: string
          description: Error code
          example: PROCESSING_ERROR
        details:
          nullable: true
          description: Additional error details
          example:
            field: document
            reason: Invalid format
      required:
        - error
        - code
    AuthToken:
      type: object
      properties:
        accessToken:
          type: string
        expiresIn:
          type: number
        user:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string
              format: email
          required:
            - id
            - name
            - email
      required:
        - accessToken
        - expiresIn
    RefreshTokenRequest:
      type: object
      properties:
        refresh_token:
          type: string
          minLength: 1
          description: The refresh token to use
        is_device_token:
          type: boolean
          description: Whether this is a device token
      required:
        - refresh_token
    RefreshTokenResponse:
      type: object
      properties:
        token:
          type: string
          description: The new access token
        refresh_token:
          type: string
          description: The new refresh token
        expires_in:
          type: number
          description: Seconds until the access token expires
        refresh_expires_in:
          type: number
          description: Seconds until the refresh token expires
      required:
        - token
        - refresh_token
        - expires_in
        - refresh_expires_in
    DeviceAuthRequest:
      type: object
      properties:
        device_code:
          type: string
          description: The device code obtained from the device authorization request
      required:
        - device_code
    DeviceAuthInitResponse:
      type: object
      properties:
        device_code:
          type: string
          description: Code used by the device to poll for authentication status
        user_code:
          type: string
          description: Code displayed to the user for authentication
        verification_url:
          type: string
          description: URL where the user should enter the user_code
        expires_in:
          type: number
          description: Expiration time in seconds
        interval:
          type: number
          description: Polling interval in seconds
      required:
        - device_code
        - user_code
        - verification_url
        - expires_in
        - interval
    DeviceAuthPendingResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - pending
          description: Authentication is still pending
      required:
        - status
    DeviceAuthTokenResponse:
      type: object
      properties:
        token:
          type: string
          description: Access token
        refresh_token:
          type: string
          description: Refresh token
        expires_in:
          type: number
          description: Access token expiration time in seconds
        refresh_expires_in:
          type: number
          description: Refresh token expiration time in seconds
      required:
        - token
        - refresh_token
        - expires_in
        - refresh_expires_in
    Registration:
      type: object
      properties:
        user:
          type: object
          properties:
            name:
              type: string
              minLength: 2
              description: Full name of the user
            email:
              type: string
              format: email
              description: User's email address
            phone:
              type: string
              description: Contact phone number
            password:
              type: string
              minLength: 8
              description: User password for authentication
            language:
              type: string
              description: Preferred interface language (e.g., en_US, sv_SE)
            timezone:
              type: string
              description: Preferred timezone (e.g., Europe/Stockholm, America/New_York)
          required:
            - name
            - email
            - password
          description: User information
        stripeCustomerId:
          type: string
          description: Stripe customer ID for existing customers
        company:
          type: object
          properties:
            name:
              type: string
              description: Legal company name
            vatNumber:
              type: string
              description: VAT identification number
            email:
              type: string
              format: email
              description: Company email address
            phone:
              type: string
              description: Company phone number
            address:
              type: object
              properties:
                street:
                  type: string
                  description: Street address
                city:
                  type: string
                  description: City
                zip:
                  type: string
                  description: Postal/ZIP code
                countryCode:
                  type: string
                  description: ISO country code
              description: Company address information
          required:
            - name
          description: Company details for business users
        plans:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Product plan ID
              quantity:
                type: integer
                minimum: 0
                exclusiveMinimum: true
                default: 1
                description: Quantity of licenses
            required:
              - id
          description: Product plans to subscribe to
        marketingConsent:
          type: boolean
          default: false
          description: Consent to receive marketing communications
        termsAccepted:
          type: boolean
          description: Acceptance of terms and conditions
      required:
        - user
        - termsAccepted
    UserProfile:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the user
        email:
          type: string
          format: email
          description: User's email address
        name:
          type: string
          description: Full name of the user
        phone:
          type: string
          nullable: true
          description: Contact phone number
        partnerId:
          type: number
          description: ID of the company the user belongs to
        login:
          type: string
          description: Username for login
        role:
          type: string
          enum:
            - admin
            - member
          description: User role determining permissions
        active:
          type: boolean
          nullable: true
          description: Whether the user account is active
        createdAt:
          type: string
          nullable: true
          format: date-time
          description: When the user was created
        updatedAt:
          type: string
          nullable: true
          format: date-time
          description: Last update timestamp
        isIndividual:
          type: boolean
          description: Whether this is an individual user account
        settings:
          type: object
          properties:
            notifications:
              type: boolean
              default: true
              description: Email notification preferences
            timezone:
              type: string
              default: Europe/Stockholm
              description: User's preferred timezone
            language:
              type: string
              default: en
              description: Preferred interface language
            theme:
              type: string
              enum:
                - light
                - dark
                - system
              default: system
              description: UI theme preference
          description: User preferences and settings
        company:
          type: object
          properties:
            id:
              type: number
              description: Company unique identifier
            name:
              type: string
              description: Legal company name
            vatNumber:
              type: string
              description: VAT identification number
            email:
              type: string
              format: email
              description: Company email address
            phone:
              type: string
              nullable: true
              description: Company phone number
            address:
              type: object
              properties:
                street:
                  type: string
                  description: Street address
                city:
                  type: string
                  description: City
                zip:
                  type: string
                  description: Postal/ZIP code
                countryCode:
                  type: string
                  description: ISO country code
            country:
              type: object
              nullable: true
              properties:
                id:
                  type: number
                  description: Country ID
                name:
                  type: string
                  description: Country name
                code:
                  type: string
                  description: ISO country code
              required:
                - id
                - name
                - code
              description: Company country information
          required:
            - id
            - name
            - phone
            - country
          description: Associated company details
        subscription:
          type: object
          properties:
            status:
              type: string
              enum:
                - active
                - trialing
                - past_due
                - canceled
                - unpaid
              description: Current subscription status
            currentPeriodEnd:
              type: string
              format: date-time
              description: End date of current billing period
            plans:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: Plan ID
                  name:
                    type: string
                    description: Plan name
                  quantity:
                    type: number
                    description: Number of licenses
                required:
                  - id
                  - name
                  - quantity
              description: Active subscription plans
          required:
            - status
            - currentPeriodEnd
            - plans
          description: Subscription information
      required:
        - id
        - email
        - name
        - phone
        - partnerId
        - login
        - role
        - active
        - createdAt
        - updatedAt
      description: Complete user profile including company details
    RegistrationResponse:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/UserProfile"
        token:
          type: string
          description: Authentication token if available
      required:
        - user
    RegistrationError:
      type: object
      properties:
        code:
          type: string
          enum:
            - EMAIL_ALREADY_EXISTS
            - COMPANY_ALREADY_EXISTS
            - INVALID_VAT_NUMBER
            - MISSING_COUNTRY_CODE
            - PAYMENT_REQUIRED
            - INVALID_PLAN
            - COMPANY_CREATION_FAILED
            - USER_CREATION_FAILED
            - SUBSCRIPTION_FAILED
            - VALIDATION_ERROR
            - SERVER_ERROR
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          additionalProperties:
            nullable: true
          description: Additional error details
        validationErrors:
          type: array
          items:
            type: object
            properties:
              path:
                type: array
                items:
                  type: string
                description: Path to the field with error
              message:
                type: string
                description: Error message for this field
            required:
              - path
              - message
          description: Validation errors
      required:
        - code
        - message
    User:
      type: object
      properties:
        id:
          type: string
          description: User ID
        email:
          type: string
          format: email
          description: User email address
        name:
          type: string
          description: User full name
        roles:
          type: array
          items:
            type: string
          description: User roles
        partnerId:
          type: string
          description: Company ID
        keycloakId:
          type: string
          description: Authentication provider ID
      required:
        - id
        - email
        - name
        - roles
        - partnerId
        - keycloakId
    CreateUser:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          description: Full name of the user
        email:
          type: string
          format: email
          description: User's email address
        phone:
          type: string
          description: Contact phone number
        role:
          type: string
          enum:
            - admin
            - member
          description: User role
        settings:
          type: object
          properties:
            notifications:
              type: boolean
              default: true
              description: Email notification preferences
            timezone:
              type: string
              default: Europe/Stockholm
              description: User's preferred timezone
            language:
              type: string
              default: en
              description: Preferred interface language
            theme:
              type: string
              enum:
                - light
                - dark
                - system
              default: system
              description: UI theme preference
      required:
        - name
        - email
        - role
    UpdateUser:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          description: Full name of the user
        email:
          type: string
          format: email
          description: User's email address
        phone:
          type: string
          description: Contact phone number
        settings:
          type: object
          properties:
            notifications:
              type: boolean
              default: true
              description: Email notification preferences
            timezone:
              type: string
              default: Europe/Stockholm
              description: User's preferred timezone
            language:
              type: string
              default: en
              description: Preferred interface language
            theme:
              type: string
              enum:
                - light
                - dark
                - system
              default: system
              description: UI theme preference
    InviteUser:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email address of the person to invite
        role:
          type: string
          enum:
            - admin
            - member
          description: Role to assign to the new team member
        companyId:
          type: number
          description: Company ID to invite the user to (defaults to current user's company)
      required:
        - email
        - role
    ModelPricing:
      type: object
      properties:
        input:
          type: number
          description: Cost per token for input in the specified currency
        output:
          type: number
          description: Cost per token for output in the specified currency
        unit:
          type: string
          description: The unit of pricing (e.g., "token")
        currency:
          type: string
          description: The currency of the pricing (e.g., "USD")
      required:
        - input
        - output
        - unit
        - currency
      description: Pricing information for the model
    ModelCapabilities:
      type: object
      properties:
        vision:
          type: boolean
          default: false
          description: Whether the model supports vision/image input
        function_calling:
          type: boolean
          default: false
          description: Whether the model supports function calling
        json_mode:
          type: boolean
          description: Whether the model supports JSON mode
        classification:
          type: boolean
          default: false
          description: Whether the model supports classification tasks
        embeddings:
          type: boolean
          default: false
          description: Whether the model supports generating embeddings
        formatted_output:
          type: boolean
          default: false
          description: Whether the model supports formatted output
        streaming:
          type: boolean
          default: false
          description: Whether the model supports streaming output
      required:
        - json_mode
      description: Capabilities of the model
    Model:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the model
        name:
          type: string
          description: Name of the model
        description:
          type: string
          description: Description of the model
        object:
          type: string
          enum:
            - model
          description: Object type, always "model"
        created:
          type: number
          description: Unix timestamp when this model was created
        owned_by:
          type: string
          description: Organization that owns the model
        permission:
          type: array
          items:
            nullable: true
          description: List of permissions
        root:
          type: string
          description: Root model ID
        parent:
          type: string
          nullable: true
          description: Parent model ID
        pricing:
          $ref: "#/components/schemas/ModelPricing"
        capabilities:
          $ref: "#/components/schemas/ModelCapabilities"
        status:
          type: object
          properties:
            up:
              type: boolean
              default: false
              description: Status of the model
      required:
        - id
        - name
        - object
        - created
        - owned_by
        - permission
        - root
        - parent
        - status
    ModelList:
      type: object
      properties:
        object:
          type: string
          enum:
            - list
          description: Object type, always "list"
        data:
          type: array
          items:
            $ref: "#/components/schemas/Model"
          description: List of models
      required:
        - object
        - data
    ApiKey:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the API key
        name:
          type: string
          description: Name of the API key
        description:
          type: string
          nullable: true
          description: Description of the API key
        active:
          type: boolean
          description: Whether the API key is active
        created:
          type: string
          format: date-time
          description: Creation timestamp
        modified:
          type: string
          format: date-time
          description: Last modification timestamp
        lastUsed:
          type: string
          nullable: true
          format: date-time
          description: Last usage timestamp
        prefix:
          type: string
          description: API key prefix (for display purposes)
      required:
        - id
        - name
        - description
        - active
        - created
        - modified
        - lastUsed
        - prefix
    ApiKeyResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the API key
        name:
          type: string
          description: Name of the API key
        description:
          type: string
          nullable: true
          description: Description of the API key
        active:
          type: boolean
          description: Whether the API key is active
        created:
          type: string
          format: date-time
          description: Creation timestamp
        modified:
          type: string
          format: date-time
          description: Last modification timestamp
        lastUsed:
          type: string
          nullable: true
          format: date-time
          description: Last usage timestamp
        prefix:
          type: string
          description: API key prefix (for display purposes)
      required:
        - id
        - name
        - description
        - active
        - created
        - modified
        - lastUsed
        - prefix
    CreateApiKey:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: Name of the API key
        description:
          type: string
          description: Description of the API key
      required:
        - name
    CreateApiKeyResponse:
      type: object
      properties:
        name:
          type: string
          description: Name of the API key
        description:
          type: string
          nullable: true
          description: Description of the API key
        key:
          type: string
          description: The API key - only returned once at creation
        created:
          type: string
          format: date-time
          description: Creation timestamp
      required:
        - name
        - description
        - key
        - created
    ApiKeyUsageEntry:
      type: object
      properties:
        date:
          type: string
          description: Date in YYYY-MM-DD format
        count:
          type: number
          description: Number of requests on this date
      required:
        - date
        - count
    ApiKeyModelUsage:
      type: object
      properties:
        id:
          type: string
          description: Model identifier
        name:
          type: string
          description: Model display name
        requests:
          type: number
          description: Total number of requests to this model
        tokens:
          type: object
          properties:
            input:
              type: number
              description: Total input tokens
            output:
              type: number
              description: Total output tokens
            total:
              type: number
              description: Total tokens (input + output)
          required:
            - input
            - output
            - total
          description: Token usage statistics
      required:
        - id
        - name
        - requests
        - tokens
    ApiKeyUsageResponse:
      type: object
      properties:
        id:
          type: string
          description: API key ID
        name:
          type: string
          description: API key name
        requests:
          type: object
          properties:
            total:
              type: number
              description: Total number of requests
            daily:
              type: array
              items:
                $ref: "#/components/schemas/ApiKeyUsageEntry"
              description: Daily request counts
          required:
            - total
            - daily
          description: Request statistics
        models:
          type: array
          items:
            $ref: "#/components/schemas/ApiKeyModelUsage"
          description: Usage statistics per model
        period:
          type: object
          properties:
            start:
              type: string
              description: Start date of the period (YYYY-MM-DD)
            end:
              type: string
              description: End date of the period (YYYY-MM-DD)
          required:
            - start
            - end
          description: Time period for the usage data
      required:
        - id
        - name
        - requests
        - models
        - period
    ApiKeyListResponse:
      type: array
      items:
        $ref: "#/components/schemas/ApiKey"
    TextContent:
      type: object
      properties:
        type:
          type: string
          enum:
            - text
        text:
          type: string
      required:
        - type
        - text
    ImageContent:
      type: object
      properties:
        type:
          type: string
          enum:
            - image_url
        image_url:
          type: object
          properties:
            url:
              type: string
              description: The URL of the image or base64 data URL
            detail:
              type: string
              enum:
                - low
                - high
                - auto
              default: auto
              description: The detail level of the image. "high" will enable more detailed
                analysis but costs more.
          required:
            - url
      required:
        - type
        - image_url
    ContentItem:
      anyOf:
        - $ref: "#/components/schemas/TextContent"
        - $ref: "#/components/schemas/ImageContent"
    FunctionCall:
      type: object
      properties:
        name:
          type: string
          description: The name of the function to call
        arguments:
          type: string
          description: The arguments to call the function with, as a JSON string
      required:
        - name
        - arguments
      description: Function call details
    ToolCall:
      type: object
      properties:
        id:
          type: string
          description: The ID of the tool call
        type:
          type: string
          enum:
            - function
          description: The type of tool call
        function:
          $ref: "#/components/schemas/FunctionCall"
      required:
        - id
        - type
        - function
    ChatMessage:
      type: object
      properties:
        role:
          type: string
          enum:
            - system
            - user
            - assistant
            - function
            - tool
          default: user
        content:
          anyOf:
            - type: string
            - type: array
              items:
                $ref: "#/components/schemas/ContentItem"
            - nullable: true
          description: The content of the message. Can be a string or an array of content
            items.
        name:
          type: string
          description: The name of the author of this message
        function_call:
          $ref: "#/components/schemas/FunctionCall"
        tool_call_id:
          type: string
          description: The ID of the tool call this message is responding to
        tool_calls:
          type: array
          items:
            $ref: "#/components/schemas/ToolCall"
          description: The tool calls made by the assistant
      required:
        - content
    FunctionDefinition:
      type: object
      properties:
        name:
          type: string
          description: The name of the function
        description:
          type: string
          description: A description of what the function does
        parameters:
          type: object
          properties:
            type:
              type: string
              description: The type of the parameters object
            properties:
              type: object
              additionalProperties:
                type: object
                properties:
                  type:
                    type: string
                    description: The type of the parameter
                  description:
                    type: string
                    description: Description of the parameter
                  enum:
                    type: array
                    items:
                      type: string
                    description: Possible values for the parameter
                  properties:
                    type: object
                    additionalProperties:
                      nullable: true
                    description: "Properties of the object (for type: object)"
                  required:
                    type: array
                    items:
                      type: string
                    description: "Required properties (for type: object)"
                  items:
                    nullable: true
                    description: "Schema for array items (for type: array)"
                required:
                  - type
              description: The properties of the parameters object
            required:
              type: array
              items:
                type: string
              description: Required properties in the parameters object
          required:
            - type
          description: The parameters the function accepts
      required:
        - name
        - parameters
    Tool:
      type: object
      properties:
        type:
          type: string
          enum:
            - function
          description: The type of tool
        function:
          $ref: "#/components/schemas/FunctionDefinition"
      required:
        - type
        - function
    ToolChoice:
      anyOf:
        - type: string
          enum:
            - auto
            - none
        - type: object
          properties:
            type:
              type: string
              enum:
                - function
              description: The type of tool choice
            function:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the function to call
              required:
                - name
              description: Function details
          required:
            - type
            - function
    ResponseFormat:
      type: object
      properties:
        type:
          type: string
          enum:
            - text
            - json_object
          default: text
          description: The format in which the model should return the response
        schema:
          type: object
          additionalProperties:
            nullable: true
          description: JSON Schema that the output should conform to
    ChatCompletionRequest:
      type: object
      properties:
        model:
          type: string
          default: mistralai/Mistral-Small-3.1-24B-Instruct-2503
          description: ID of the model to use. Defaults to
            mistralai/Mistral-Small-3.1-24B-Instruct-2503 which offers a good
            balance of quality and speed with a 32K context window.
        messages:
          type: array
          items:
            $ref: "#/components/schemas/ChatMessage"
        temperature:
          type: number
          minimum: 0
          maximum: 2
        max_tokens:
          type: number
        stream:
          type: boolean
          default: false
        top_p:
          type: number
          default: 1
        response_format:
          $ref: "#/components/schemas/ResponseFormat"
        json_mode:
          type: boolean
          description: Legacy parameter. Set to true if you want the model to return a
            JSON object. Use response_format instead.
        functions:
          type: array
          items:
            $ref: "#/components/schemas/FunctionDefinition"
          description: A list of functions the model may generate JSON inputs for
        function_call:
          anyOf:
            - type: string
              enum:
                - auto
                - none
            - type: object
              properties:
                name:
                  type: string
                  description: The name of the function to call
              required:
                - name
          description: Controls how the model uses functions
        tools:
          type: array
          items:
            $ref: "#/components/schemas/Tool"
          description: A list of tools the model may call
        tool_choice:
          allOf:
            - $ref: "#/components/schemas/ToolChoice"
            - description: Controls how the model uses tools
      required:
        - messages
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this completion
        object:
          type: string
          enum:
            - chat.completion
        created:
          type: number
          description: Unix timestamp of when the completion was created
        model:
          type: string
          description: The model used for completion
        choices:
          type: array
          items:
            type: object
            properties:
              message:
                type: object
                properties:
                  role:
                    type: string
                    enum:
                      - assistant
                  content:
                    type: string
                    nullable: true
                    description: The model's response
                  function_call:
                    $ref: "#/components/schemas/FunctionCall"
                  tool_calls:
                    type: array
                    items:
                      $ref: "#/components/schemas/ToolCall"
                    description: The tool calls made by the assistant
                required:
                  - role
                  - content
              finish_reason:
                type: string
                enum:
                  - stop
                  - length
                  - content_filter
                  - tool_calls
                  - function_call
              index:
                type: number
            required:
              - message
              - finish_reason
              - index
        usage:
          type: object
          properties:
            prompt_tokens:
              type: number
            completion_tokens:
              type: number
            total_tokens:
              type: number
            co2_grams:
              type: number
              description: CO2 emissions in grams
          required:
            - prompt_tokens
            - completion_tokens
            - total_tokens
      required:
        - id
        - object
        - created
        - model
        - choices
        - usage
    Cluster:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the cluster
        name:
          type: string
          description: Display name of the cluster
        provider:
          type: string
          description: Cloud provider (AWS, GCP, Azure, etc.)
        region:
          type: string
          description: Cloud region where the cluster is deployed
        version:
          type: string
          description: Kubernetes version
        nodes:
          type: integer
          minimum: 0
          description: Number of nodes in the cluster
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
            - unknown
          description: Current status of the cluster
        created:
          type: string
          format: date-time
          description: Creation timestamp
      required:
        - id
        - name
        - provider
        - region
        - version
        - nodes
        - status
        - created
    ClusterList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Cluster"
        object:
          type: string
          enum:
            - list
      required:
        - data
        - object
    ResourceMetric:
      type: object
      properties:
        allocated:
          type: number
          description: Total allocated resources
        used:
          type: number
          description: Currently used resources
        available:
          type: number
          description: Available resources
        unit:
          type: string
          description: Unit of measurement (e.g., cores, GB)
      required:
        - allocated
        - used
        - available
        - unit
    ClusterCost:
      type: object
      properties:
        cpu:
          type: number
          description: Cost for CPU resources
        memory:
          type: number
          description: Cost for memory resources
        storage:
          type: number
          description: Cost for storage resources
        network:
          type: number
          description: Cost for network resources
        total:
          type: number
          description: Total cost
        currency:
          type: string
          description: Currency code (e.g., USD, EUR)
      required:
        - cpu
        - memory
        - storage
        - network
        - total
        - currency
      description: Cost breakdown
    ClusterUsage:
      type: object
      properties:
        id:
          type: string
          description: Unique cluster identifier
        name:
          type: string
          description: Cluster name
        resources:
          type: object
          properties:
            cpu:
              $ref: "#/components/schemas/ResourceMetric"
            memory:
              $ref: "#/components/schemas/ResourceMetric"
            storage:
              $ref: "#/components/schemas/ResourceMetric"
          required:
            - cpu
            - memory
            - storage
          description: Resource usage metrics
        cost:
          $ref: "#/components/schemas/ClusterCost"
        nodes:
          type: number
          description: Number of nodes in the cluster
        status:
          type: string
          description: Current cluster status
      required:
        - id
        - name
        - resources
        - cost
        - nodes
        - status
    ResourceMetricWithTrend:
      allOf:
        - $ref: "#/components/schemas/ResourceMetric"
        - type: object
          properties:
            usage_trend:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    description: Date in YYYY-MM-DD format
                  value:
                    type: number
                    description: Resource usage value for this date
                required:
                  - date
                  - value
              description: Historical usage trend data
          required:
            - usage_trend
    DailyCost:
      type: object
      properties:
        date:
          type: string
          description: Date in YYYY-MM-DD format
        cpu:
          type: number
          description: CPU cost for this day
        memory:
          type: number
          description: Memory cost for this day
        storage:
          type: number
          description: Storage cost for this day
        network:
          type: number
          description: Network cost for this day
        total:
          type: number
          description: Total cost for this day
      required:
        - date
        - cpu
        - memory
        - storage
        - network
        - total
    ClusterCostWithDaily:
      allOf:
        - $ref: "#/components/schemas/ClusterCost"
        - type: object
          properties:
            daily:
              type: array
              items:
                $ref: "#/components/schemas/DailyCost"
              description: Daily cost breakdown
          required:
            - daily
      description: Detailed cost breakdown with daily data
    ClusterDetailedUsage:
      type: object
      properties:
        id:
          type: string
          description: Unique cluster identifier
        name:
          type: string
          description: Cluster name
        resources:
          type: object
          properties:
            cpu:
              $ref: "#/components/schemas/ResourceMetricWithTrend"
            memory:
              $ref: "#/components/schemas/ResourceMetricWithTrend"
            storage:
              $ref: "#/components/schemas/ResourceMetricWithTrend"
          required:
            - cpu
            - memory
            - storage
          description: Detailed resource usage metrics with trends
        cost:
          $ref: "#/components/schemas/ClusterCostWithDaily"
        nodes:
          type: number
          description: Number of nodes in the cluster
        status:
          type: string
          description: Current cluster status
        period:
          type: object
          properties:
            start:
              type: string
              description: Start date of the period (YYYY-MM-DD)
            end:
              type: string
              description: End date of the period (YYYY-MM-DD)
          required:
            - start
            - end
          description: Time period for the usage data
      required:
        - id
        - name
        - resources
        - cost
        - nodes
        - status
        - period
    ClustersUsageResponse:
      type: object
      properties:
        clusters:
          type: array
          items:
            $ref: "#/components/schemas/ClusterUsage"
          description: List of clusters with usage data
        period:
          type: object
          properties:
            start:
              type: string
              description: Start date of the period (YYYY-MM-DD)
            end:
              type: string
              description: End date of the period (YYYY-MM-DD)
          required:
            - start
            - end
          description: Time period for the usage data
        total:
          type: object
          properties:
            cost:
              type: object
              properties:
                cpu:
                  type: number
                  description: Total CPU cost across all clusters
                memory:
                  type: number
                  description: Total memory cost across all clusters
                storage:
                  type: number
                  description: Total storage cost across all clusters
                network:
                  type: number
                  description: Total network cost across all clusters
                total:
                  type: number
                  description: Total cost across all clusters
                currency:
                  type: string
                  description: Currency code (e.g., USD, EUR)
              required:
                - cpu
                - memory
                - storage
                - network
                - total
                - currency
              description: Total cost breakdown across all clusters
          required:
            - cost
          description: Aggregated totals
      required:
        - clusters
        - period
        - total
    TokenCost:
      type: object
      properties:
        amount:
          type: number
          description: Cost amount
        currency:
          type: string
          description: Currency code (e.g., USD, EUR)
      required:
        - amount
        - currency
      description: Cost information for this usage
    DailyTokenUsage:
      type: object
      properties:
        date:
          type: string
          description: Usage date in YYYY-MM-DD format
        model:
          type: string
          description: Model identifier
        input_tokens:
          type: number
          description: Number of input tokens used
        output_tokens:
          type: number
          description: Number of output tokens generated
        total_tokens:
          type: number
          description: Total tokens (input + output)
        cost:
          $ref: "#/components/schemas/TokenCost"
      required:
        - date
        - input_tokens
        - output_tokens
        - total_tokens
        - cost
    TokenUsageTotal:
      type: object
      properties:
        input_tokens:
          type: number
          description: Total input tokens for the period
        output_tokens:
          type: number
          description: Total output tokens for the period
        total_tokens:
          type: number
          description: Total tokens for the period
        cost:
          allOf:
            - $ref: "#/components/schemas/TokenCost"
            - description: Total cost information
      required:
        - input_tokens
        - output_tokens
        - total_tokens
        - cost
      description: Aggregated usage totals
    TokenUsagePeriod:
      type: object
      properties:
        start:
          type: string
          description: Start date of the period (YYYY-MM-DD)
        end:
          type: string
          description: End date of the period (YYYY-MM-DD)
      required:
        - start
        - end
      description: Time period for the usage data
    TokenUsageResponse:
      type: object
      properties:
        usage:
          type: array
          items:
            $ref: "#/components/schemas/DailyTokenUsage"
          description: Daily token usage data
        total:
          $ref: "#/components/schemas/TokenUsageTotal"
        period:
          $ref: "#/components/schemas/TokenUsagePeriod"
      required:
        - usage
        - total
        - period
    SubscriptionUsage:
      type: object
      properties:
        name:
          type: string
          description: Subscription name
        status:
          type: string
          description: Subscription status
        startDate:
          type: string
          description: Subscription start date
        createDate:
          type: string
          description: Subscription creation date
        partnerId:
          type: string
          description: Partner ID
        planCode:
          type: string
          description: Plan code
        endDate:
          type: string
          description: Subscription end date
        cancelDate:
          type: string
          description: Subscription cancellation date
        currentBillingPeriodStartDate:
          type: string
          description: Current billing period start date
        currentBillingPeriodEndDate:
          type: string
          description: Current billing period end date
        usage:
          type: object
          properties:
            currentUsageAmountCents:
              type: number
              description: Current usage amount in cents
            externalHistoricalUsageAmountCents:
              type: number
              description: External historical usage amount in cents
            fromDateTime:
              type: string
              description: Start date and time of usage
            toDateTime:
              type: string
              description: End date and time of usage
            invoicedUsageAmountCents:
              type: number
              description: Invoiced usage amount in cents
          required:
            - currentUsageAmountCents
            - externalHistoricalUsageAmountCents
            - fromDateTime
            - toDateTime
            - invoicedUsageAmountCents
          description: Usage data
      required:
        - name
        - status
        - startDate
        - createDate
        - partnerId
        - planCode
        - currentBillingPeriodStartDate
        - currentBillingPeriodEndDate
        - usage
      description: Subscription usage data
    ModelTokenUsageResponse:
      type: object
      properties:
        model:
          type: string
          description: Model identifier
        usage:
          type: array
          items:
            $ref: "#/components/schemas/DailyTokenUsage"
          description: Daily token usage data
        total:
          $ref: "#/components/schemas/TokenUsageTotal"
        period:
          $ref: "#/components/schemas/TokenUsagePeriod"
      required:
        - model
        - usage
        - total
        - period
    VatValidationRequest:
      type: object
      properties:
        vatNumber:
          type: string
          minLength: 3
          maxLength: 20
          pattern: ^[A-Z]{2}[0-9A-Z]+$
          description: VAT number with country code (e.g., SE123456789012)
        checkExisting:
          type: boolean
          default: true
          description: Whether to check if the company already exists in the system
      required:
        - vatNumber
    VatValidationResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the VAT number is valid
        company:
          type: object
          properties:
            name:
              type: string
              description: Company name from VIES
            address:
              type: string
              description: Company address from VIES
            countryCode:
              type: string
              description: Country code
            vatNumber:
              type: string
              description: VAT number without country code
          required:
            - name
            - address
            - countryCode
            - vatNumber
          description: Company details if VAT is valid
        exists:
          type: boolean
          description: Whether the company already exists in our system
        companyId:
          type: number
          description: ID of the existing company if found
      required:
        - valid
    Plan:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the plan
        name:
          type: string
          description: Display name of the plan
        code:
          type: string
          description: Plan code
        description:
          type: string
          description: Plan description
        amount:
          type: number
          description: Plan price amount
        currency:
          type: string
          description: Currency code (e.g., USD, EUR)
        interval:
          type: string
          enum:
            - monthly
            - yearly
            - weekly
          description: Billing interval
        features:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Feature name
              description:
                type: string
                description: Feature description
              included:
                type: boolean
                default: true
                description: Whether the feature is included
            required:
              - name
          description: Plan features
        isPopular:
          type: boolean
          description: Whether this is a popular/recommended plan
        trialDays:
          type: number
          description: Number of trial days
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Additional metadata
      required:
        - id
        - name
        - code
        - amount
        - currency
        - interval
    AppTemplate:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the app
        name:
          type: string
          description: Display name of the app
        category:
          type: string
          description: Category the app belongs to
        description:
          type: string
          description: Short description of the app
        installs:
          type: string
          description: Number of installations
        rating:
          type: number
          minimum: 0
          maximum: 5
          description: User rating
        icon:
          type: string
          description: Icon identifier
        features:
          type: array
          items:
            type: string
          description: List of key features
        requirements:
          type: object
          properties:
            cpu:
              type: number
              description: Required CPU cores
            memory:
              type: number
              description: Required memory in GB
            storage:
              type: number
              description: Required storage in GB
          required:
            - cpu
            - memory
            - storage
          description: Resource requirements
        configuration:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  name:
                    type: string
                    description: Configuration field name
                  type:
                    type: string
                    enum:
                      - string
                    description: String input type
                  required:
                    type: boolean
                    description: Whether this field is required
                  default:
                    type: string
                    description: Default value if any
                required:
                  - name
                  - type
                  - required
              - type: object
                properties:
                  name:
                    type: string
                    description: Configuration field name
                  type:
                    type: string
                    enum:
                      - number
                    description: Number input type
                  required:
                    type: boolean
                    description: Whether this field is required
                  default:
                    type: number
                    description: Default value if any
                required:
                  - name
                  - type
                  - required
              - type: object
                properties:
                  name:
                    type: string
                    description: Configuration field name
                  type:
                    type: string
                    enum:
                      - boolean
                    description: Boolean toggle type
                  required:
                    type: boolean
                    description: Whether this field is required
                  default:
                    type: boolean
                    description: Default value if any
                required:
                  - name
                  - type
                  - required
              - type: object
                properties:
                  name:
                    type: string
                    description: Configuration field name
                  type:
                    type: string
                    enum:
                      - select
                    description: Dropdown select type
                  required:
                    type: boolean
                    description: Whether this field is required
                  default:
                    type: string
                    description: Default selected option
                  options:
                    type: array
                    items:
                      type: string
                    description: Available options to select from
                required:
                  - name
                  - type
                  - required
                  - options
              - type: object
                properties:
                  name:
                    type: string
                    description: Configuration field name
                  type:
                    type: string
                    enum:
                      - password
                    description: Password input type
                  required:
                    type: boolean
                    description: Whether this field is required
                  default:
                    type: string
                    description: Default value if any
                required:
                  - name
                  - type
                  - required
          description: Configuration options
        ingress:
          type: object
          properties:
            enabled:
              type: boolean
              description: Whether ingress is enabled for this app
            hostname:
              type: string
              description: Hostname pattern for the ingress
            path:
              type: string
              description: Path for the ingress
            tls:
              type: boolean
              description: Whether TLS is enabled
          required:
            - enabled
            - hostname
            - path
            - tls
          description: Ingress configuration if applicable
      required:
        - id
        - name
        - category
        - description
        - installs
        - rating
        - icon
        - features
        - requirements
        - configuration
    AppTemplateList:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for the app
              name:
                type: string
                description: Display name of the app
              category:
                type: string
                description: Category the app belongs to
              description:
                type: string
                description: Short description of the app
              installs:
                type: string
                description: Number of installations
              rating:
                type: number
                minimum: 0
                maximum: 5
                description: User rating
              icon:
                type: string
                description: Icon identifier
              features:
                type: array
                items:
                  type: string
                description: List of key features
              requirements:
                type: object
                properties:
                  cpu:
                    type: number
                    description: Required CPU cores
                  memory:
                    type: number
                    description: Required memory in GB
                  storage:
                    type: number
                    description: Required storage in GB
                required:
                  - cpu
                  - memory
                  - storage
                description: Resource requirements
              configuration:
                type: array
                items:
                  oneOf:
                    - type: object
                      properties:
                        name:
                          type: string
                          description: Configuration field name
                        type:
                          type: string
                          enum:
                            - string
                          description: String input type
                        required:
                          type: boolean
                          description: Whether this field is required
                        default:
                          type: string
                          description: Default value if any
                      required:
                        - name
                        - type
                        - required
                    - type: object
                      properties:
                        name:
                          type: string
                          description: Configuration field name
                        type:
                          type: string
                          enum:
                            - number
                          description: Number input type
                        required:
                          type: boolean
                          description: Whether this field is required
                        default:
                          type: number
                          description: Default value if any
                      required:
                        - name
                        - type
                        - required
                    - type: object
                      properties:
                        name:
                          type: string
                          description: Configuration field name
                        type:
                          type: string
                          enum:
                            - boolean
                          description: Boolean toggle type
                        required:
                          type: boolean
                          description: Whether this field is required
                        default:
                          type: boolean
                          description: Default value if any
                      required:
                        - name
                        - type
                        - required
                    - type: object
                      properties:
                        name:
                          type: string
                          description: Configuration field name
                        type:
                          type: string
                          enum:
                            - select
                          description: Dropdown select type
                        required:
                          type: boolean
                          description: Whether this field is required
                        default:
                          type: string
                          description: Default selected option
                        options:
                          type: array
                          items:
                            type: string
                          description: Available options to select from
                      required:
                        - name
                        - type
                        - required
                        - options
                    - type: object
                      properties:
                        name:
                          type: string
                          description: Configuration field name
                        type:
                          type: string
                          enum:
                            - password
                          description: Password input type
                        required:
                          type: boolean
                          description: Whether this field is required
                        default:
                          type: string
                          description: Default value if any
                      required:
                        - name
                        - type
                        - required
                description: Configuration options
              ingress:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Whether ingress is enabled for this app
                  hostname:
                    type: string
                    description: Hostname pattern for the ingress
                  path:
                    type: string
                    description: Path for the ingress
                  tls:
                    type: boolean
                    description: Whether TLS is enabled
                required:
                  - enabled
                  - hostname
                  - path
                  - tls
                description: Ingress configuration if applicable
            required:
              - id
              - name
              - category
              - description
              - installs
              - rating
              - icon
              - features
              - requirements
              - configuration
        object:
          type: string
          enum:
            - list
      required:
        - data
        - object
    AppInstallRequest:
      type: object
      properties:
        appId:
          type: string
          description: ID of the app to install
        namespace:
          type: string
          description: Kubernetes namespace to install into
        configuration:
          type: object
          additionalProperties:
            anyOf:
              - type: string
              - type: number
              - type: boolean
          description: Configuration values
      required:
        - appId
        - namespace
        - configuration
    AppInstallation:
      type: object
      properties:
        id:
          type: string
          description: Installation ID
        appId:
          type: string
          description: App template ID
        name:
          type: string
          description: App name
        namespace:
          type: string
          description: Kubernetes namespace
        status:
          type: string
          enum:
            - pending
            - installing
            - running
            - failed
          description: Installation status
        created:
          type: string
          description: Creation timestamp
        message:
          type: string
          description: Status message or error
        url:
          type: string
          description: Access URL if available
        configuration:
          type: object
          additionalProperties:
            anyOf:
              - type: string
              - type: number
              - type: boolean
          description: Applied configuration
      required:
        - id
        - appId
        - name
        - namespace
        - status
        - created
        - configuration
    AppInstallationList:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Installation ID
              appId:
                type: string
                description: App template ID
              name:
                type: string
                description: App name
              namespace:
                type: string
                description: Kubernetes namespace
              status:
                type: string
                enum:
                  - pending
                  - installing
                  - running
                  - failed
                description: Installation status
              created:
                type: string
                description: Creation timestamp
              message:
                type: string
                description: Status message or error
              url:
                type: string
                description: Access URL if available
              configuration:
                type: object
                additionalProperties:
                  anyOf:
                    - type: string
                    - type: number
                    - type: boolean
                description: Applied configuration
            required:
              - id
              - appId
              - name
              - namespace
              - status
              - created
              - configuration
        object:
          type: string
          enum:
            - list
      required:
        - data
        - object
    Usage:
      type: object
      properties:
        current_period:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
          required:
            - start_date
            - end_date
        metrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: number
              unit:
                type: string
              cost:
                type: number
              currency:
                type: string
            required:
              - name
              - value
              - unit
              - cost
              - currency
        total:
          type: object
          properties:
            amount:
              type: number
            currency:
              type: string
          required:
            - amount
            - currency
      required:
        - current_period
        - metrics
        - total
    Invoice:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the invoice
        number:
          type: string
          description: Invoice number (e.g., INV/2025/0001)
        date:
          type: string
          description: Invoice issue date
        dueDate:
          type: string
          description: Payment due date
        status:
          type: string
          enum:
            - paid
            - pending
            - failed
          description: Payment status
        currency:
          type: string
          description: Currency code (e.g., EUR, USD)
        amount:
          type: object
          properties:
            subtotal:
              type: number
              description: Subtotal amount before taxes (in whole currency units)
            tax:
              type: number
              description: Tax amount (in whole currency units)
            total:
              type: number
              description: Total amount including taxes (in whole currency units)
            paid:
              type: number
              description: Amount already paid (in whole currency units)
            due:
              type: number
              description: Amount still due (in whole currency units)
          required:
            - subtotal
            - tax
            - total
            - paid
            - due
          description: Invoice amounts in whole currency units (e.g., euros, dollars)
        customer:
          type: object
          properties:
            id:
              type: string
              description: Customer ID
            name:
              type: string
              description: Customer name
            email:
              type: string
              description: Customer email
            taxId:
              type: string
              nullable: true
              description: Tax identification number
          required:
            - id
            - name
            - email
            - taxId
          description: Customer information
        items:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
                description: Item description
              amount:
                type: number
                description: Item amount in whole currency units
              currency:
                type: string
                description: Item currency
            required:
              - description
              - amount
              - currency
          description: Invoice line items
        downloadUrl:
          type: string
          nullable: true
          description: URL to download the invoice PDF
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Additional invoice metadata
        period:
          type: object
          properties:
            start:
              type: string
              description: Start date of the billing period
            end:
              type: string
              description: End date of the billing period
          required:
            - start
            - end
          description: Billing period covered by this invoice
      required:
        - id
        - number
        - date
        - dueDate
        - status
        - currency
        - amount
        - customer
        - items
        - downloadUrl
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - card
            - sepa
        last4:
          type: string
        expMonth:
          type: number
        expYear:
          type: number
        brand:
          type: string
        isDefault:
          type: boolean
      required:
        - id
        - type
        - last4
        - isDefault
    CreatePaymentMethod:
      type: object
      properties:
        type:
          type: string
          enum:
            - card
            - sepa
        token:
          type: string
        setDefault:
          type: boolean
      required:
        - type
        - token
    UpdateSubscription:
      type: object
      properties:
        planId:
          type: string
        quantity:
          type: number
          default: 1
      required:
        - planId
    Order:
      type: object
      properties:
        id:
          type: string
          description: Order ID
        date:
          type: string
          description: Order date
        status:
          type: string
          description: Order status
        amount:
          type: number
          description: Order amount in whole currency units
        currency:
          type: string
          description: Currency code (e.g., EUR, USD)
        items:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Product name
              quantity:
                type: number
                description: Quantity ordered
              unitPrice:
                type: number
                description: Unit price in whole currency units
              totalPrice:
                type: number
                description: Total price in whole currency units
            required:
              - name
              - quantity
              - unitPrice
              - totalPrice
          description: Order items
        subscription:
          type: object
          properties:
            planId:
              type: string
              description: Subscription plan ID
            planName:
              type: string
              description: Subscription plan name
            startDate:
              type: string
              description: Subscription start date
            endDate:
              type: string
              description: Subscription end date
            status:
              type: string
              description: Subscription status
          required:
            - planId
            - planName
            - status
          description: Subscription details if this order is for a subscription
      required:
        - id
        - date
        - status
        - amount
        - currency
        - items
    OrderHistory:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: "#/components/schemas/Order"
          description: List of orders
        currentSubscription:
          type: object
          nullable: true
          properties:
            planId:
              type: string
              description: Current subscription plan ID
            planName:
              type: string
              description: Current subscription plan name
            startDate:
              type: string
              description: Subscription start date
            endDate:
              type: string
              description: Subscription end date
            status:
              type: string
              description: Subscription status
            quantity:
              type: number
              default: 1
              description: Number of seats/licenses
            renewalDate:
              type: string
              description: Next renewal date
          required:
            - planId
            - planName
            - startDate
            - status
          description: Current active subscription, if any
      required:
        - orders
        - currentSubscription
    ApiError:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: An error occurred while processing the request
        code:
          type: string
          description: Error code
          example: PROCESSING_ERROR
        details:
          nullable: true
          description: Additional error details
          example:
            field: document
            reason: Invalid format
      required:
        - error
        - code
    OCRMethod:
      type: string
      enum:
        - tesseract
        - easyocr
        - ocrmac
        - rapidocr
        - tesserocr
      default: easyocr
      description: "OCR method to use: tesseract, easyocr, ocrmac, rapidocr, or tesserocr"
      example: easyocr
    DocumentURLChunk:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: URL to the document
          example: https://example.com/document.pdf
        type:
          type: string
          enum:
            - document
          description: Type of the document
          example: document
      required:
        - url
        - type
    ImageURLChunk:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: URL to the image
          example: https://example.com/image.jpg
        type:
          type: string
          enum:
            - image
          description: Type of the document
          example: image
      required:
        - url
        - type
    OCRRequest:
      type: object
      properties:
        model:
          type: string
          nullable: true
          description: Model to use for OCR
          example: docling-v1
        document:
          anyOf:
            - $ref: "#/components/schemas/DocumentURLChunk"
            - $ref: "#/components/schemas/ImageURLChunk"
          description: Document to run OCR on
        async:
          type: boolean
          default: false
          description: Process the document asynchronously
          example: true
        options:
          type: object
          properties:
            tableMode:
              type: string
              enum:
                - accurate
                - fast
              default: accurate
              description: "Mode for table extraction: accurate (slower but better), fast
                (quicker but less precise), or none (no table extraction)"
              example: accurate
            ocrMethod:
              type: string
              enum:
                - tesseract
                - easyocr
                - ocrmac
                - rapidocr
                - tesserocr
              default: easyocr
              description: "OCR method to use: tesseract, easyocr, ocrmac, rapidocr, or
                tesserocr"
              example: easyocr
            doOcr:
              type: boolean
              default: true
              description: Whether to perform OCR on the document
              example: true
            doTableStructure:
              type: boolean
              default: true
              description: Whether to extract table structure
              example: true
            inputFormat:
              type: array
              items:
                type: string
                enum:
                  - pdf
                  - html
                  - docx
                  - pptx
              default:
                - pdf
              description: Input formats to generate
              example:
                - pdf
            outputFormat:
              type: string
              enum:
                - md
                - json
            includeImages:
              type: boolean
              default: false
              description: Whether to include images in the output (base64 encoded)
              example: false
          default:
            tableMode: accurate
            ocrMethod: easyocr
            doOcr: true
            doTableStructure: true
            inputFormat:
              - pdf
            outputFormat: md
            includeImages: false
          required:
            - outputFormat
          description: Advanced OCR processing options
      required:
        - document
    OCRUsageInfo:
      type: object
      properties:
        pages:
          type: integer
          minimum: 0
          description: Number of pages processed
          example: 1
        characters:
          type: integer
          minimum: 0
          description: Number of characters processed
          example: 2492
      required:
        - pages
        - characters
      description: Usage statistics for the OCR request
    OCRMetadata:
      type: object
      properties:
        filename:
          type: string
          description: Original filename
          example: document
        pageCount:
          type: integer
          minimum: 0
          description: Total number of pages in the document
          example: 1
        fileType:
          type: string
          description: MIME type of the document
          example: application/pdf
        processingTime:
          type: integer
          minimum: 0
          description: Processing time in milliseconds
          example: 7787
      required:
        - filename
        - pageCount
        - fileType
        - processingTime
      description: Metadata about the processed document
    OCRResponse:
      type: object
      properties:
        usage:
          $ref: "#/components/schemas/OCRUsageInfo"
        content:
          type: string
          description: The extracted text content in markdown format
          example: >-
            # Document Title


            This is the content of the document with **bold text** and *italic
            text*.
        metadata:
          $ref: "#/components/schemas/OCRMetadata"
      required:
        - usage
        - content
        - metadata
    AsyncOCRResponse:
      type: object
      properties:
        taskId:
          type: string
          description: Task ID for the asynchronous OCR request
          example: d11234-5678-9101-1121
        status:
          type: string
          enum:
            - pending
            - processing
            - completed
            - failed
          description: Current status of the OCR job
          example: pending
        resultUrl:
          type: string
          description: URL to get the result of the task
          example: /v1/ocr/result/d11234-5678-9101-1121
      required:
        - taskId
        - status
        - resultUrl
    EmbeddingRequest:
      type: object
      properties:
        model:
          type: string
          default: intfloat/multilingual-e5-large-instruct
          description: ID of the model to use. Defaults to
            intfloat/multilingual-e5-large-instruct which is a fast and
            versatile model with good language understanding of European
            languages. Supports 100+ languages.
        input:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
          description: The input text to generate embeddings for
        encoding_format:
          type: string
          enum:
            - float
            - base64
          default: float
          description: The format of the returned embeddings
        dimensions:
          type: number
          description: The number of dimensions the resulting output embeddings should
            have. If not specified, the model's default dimension size will be
            used (1024 for intfloat/multilingual-e5-large-instruct).
        user:
          type: string
          description: A unique identifier representing your end-user. This helps with
            tracking and abuse prevention. If not provided, the API key owner
            will be used.
      required:
        - input
    EmbeddingResponse:
      type: object
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                enum:
                  - embedding
              embedding:
                type: array
                items:
                  type: number
              index:
                type: number
            required:
              - object
              - embedding
              - index
        model:
          type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: number
            total_tokens:
              type: number
            co2_grams:
              type: number
              description: CO2 emissions in grams
          required:
            - prompt_tokens
            - total_tokens
      required:
        - object
        - data
        - model
        - usage
    RerankRequest:
      type: object
      properties:
        model:
          type: string
          default: BAAI/bge-reranker-v2-m3
          description: ID of the model to use. Defaults to BAAI/bge-reranker-v2-m3, a
            high-quality multilingual reranking model.
        query:
          type: string
          description: The search query to rank documents against
        documents:
          type: array
          items:
            type: string
          description: The documents to rerank
        top_n:
          type: number
          default: 3
          description: The number of documents to return
        return_documents:
          type: boolean
          default: true
          description: Whether to return the document text in the response
        user:
          type: string
          description: A unique identifier representing your end-user
      required:
        - query
        - documents
    RerankResponse:
      type: object
      properties:
        object:
          type: string
          enum:
            - list
        data:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                enum:
                  - reranked_document
              document:
                type: string
              index:
                type: number
              relevance_score:
                type: number
            required:
              - object
              - index
              - relevance_score
        model:
          type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: number
            total_tokens:
              type: number
            co2_grams:
              type: number
              description: CO2 emissions in grams
          required:
            - prompt_tokens
            - total_tokens
      required:
        - object
        - data
        - model
        - usage
    TranscriptionResponse:
      type: object
      properties:
        text:
          type: string
          description: The transcribed text
        usage:
          type: object
          properties:
            prompt_tokens:
              type: number
            completion_tokens:
              type: number
            total_tokens:
              type: number
            co2_grams:
              type: number
              description: CO2 emissions in grams
      required:
        - text
  parameters: {}
paths:
  /v1/api-keys:
    get:
      summary: List all API keys
      description: |
        Lists all API keys for the authenticated user's organization.

        ## Using the CLI

        You can also manage API keys using our CLI tool:
        ```
        # Login first (if you haven't already)
        npx berget auth login

        # List all API keys
        npx berget api-keys list

        # Create a new API key
        npx berget api-keys create --name my-api-key
        ```
      tags:
        - API Keys
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyListResponse"
        "401":
          description: Unauthorized - Authentication token is missing or invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Authentication required
                  code:
                    type: string
                    example: AUTH_REQUIRED
        "403":
          description: Forbidden - User does not have permission to list API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Insufficient permissions
                  code:
                    type: string
                    example: INSUFFICIENT_PERMISSIONS
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to fetch API keys
                  code:
                    type: string
                    example: API_KEYS_FETCH_FAILED
    post:
      summary: Create a new API key
      description: >
        Creates a new API key for the authenticated user's organization. The
        full API key is only returned once at creation time.


        ## Using the CLI


        Creating an API key is easier with our CLI tool:

        ```

        # Login first (if you haven't already)

        npx berget auth login


        # Create a new API key

        npx berget api-keys create --name my-api-key

        ```
      tags:
        - API Keys
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKey"
      responses:
        "201":
          description: API key created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateApiKeyResponse"
        "400":
          description: Bad Request - Invalid input parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation failed
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  details:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: string
                            message:
                              type: string
                            code:
                              type: string
        "401":
          description: Unauthorized - Authentication token is missing or invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Authentication required
                  code:
                    type: string
                    example: AUTH_REQUIRED
        "403":
          description: Forbidden - User does not have permission to create API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Insufficient permissions
                  code:
                    type: string
                    example: INSUFFICIENT_PERMISSIONS
        "429":
          description: Too Many Requests - API key creation rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Too many API key creation attempts
                  code:
                    type: string
                    example: RATE_LIMIT_EXCEEDED
        "500":
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to create API key
                  code:
                    type: string
                    example: API_KEY_CREATION_FAILED
  /v1/api-keys/{id}:
    delete:
      summary: Delete an API key
      description: Permanently deletes an API key
      tags:
        - API Keys
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: API key ID
      responses:
        "204":
          description: API key deleted successfully
        "400":
          description: Bad Request - Invalid API key ID format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format
                  code:
                    type: string
                    example: INVALID_ID_FORMAT
        "401":
          description: Unauthorized - Authentication token is missing or invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Authentication required
                  code:
                    type: string
                    example: AUTH_REQUIRED
        "403":
          description: Forbidden - User does not have permission to delete this API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Insufficient permissions to delete this API key
                  code:
[...]
